.logo img {
    width: 400px;
}
.logo1 img {
    width: 250px;
}
.second-section{
    padding:15px; position: relative;
}
label{margin-bottom: 0px !important;}
.form-row input, textarea {
  background: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: auto;
  margin-bottom: 10px !important;
  margin-top: 0!important;
  padding: 10px !important;
  resize: vertical;
  width: 100%;
  color: #333;
}
.submit-s input[type=submit] {
      background-color: transparent;
    color: white;
    padding: 4px 35px;
    border: 2px solid #fff;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}
.right-broch-div{position: relative}
.submit-s input[type=submit]:hover {
  background-color: #e12a23; border-color: transparent;color: #fff;
}

.submit-s {
    text-align: center;
    margin-top: 6px;
}
.form-group{margin-bottom: 0px !important;
  }


form.contact-us{
	 border-radius: 22px !important;
  background: rgba(0, 0, 0, 0.5);
  padding:46px;border-radius: 20px;
  color: #fff;
  
}
.outer{
 background:url(../imgs/n1.jpg);background-position: center;

}
.dw-line img{width: 100%;}

.information-lk {
    padding: 10px 16.5px;
    background: #f2f2f2;
    border-radius:22px;
    color: #000;
    position: absolute;
    top:50%;
   left: 140px;
    /* transform: translateY(-50%); */
    z-index: 1;
}
.information-lk ul li {
    display: flex;
    align-items: center;
    /* margin-bottom: 10px;  */
  }
  
  .information-lk span {
    margin-right: 5px; 
  }
  
  
.information-lk li {
    display:flex;
    text-align: center;
    color: #000;
    border-radius: 4px;
    padding: 6px 0px;
    font-size: 18px;
    line-height: 41px;
}

.logo-right-st h5 {
    font-style: italic;
    padding-top: 10px;
    font-size: 22px;
    font-weight: 500;
}
.top-navi {
    background: #edeef0;
    padding: 10px 50px;
}
.information-lk ul {
    text-align: center;
    padding-left: 0px;
    margin-bottom: 0px;
}
.information-lk li span i {
    background: transparent;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    line-height: 31px;
    color: #000;
    margin-right: 6px;
    border: 2px solid #000;
}
.contact-form-heading{text-align: center; color:#fff;    font-size: 32px;
    font-style: italic;    font-weight: 500;}
.information-lk li a span:hover{color:#667be3;}
.db-btn {
    background: #de2923;
    border-radius: 5px;
    border: 0px;
    color: #fff;
    padding: 4px 20px;
    font-size: 16px;
    margin-top: 25px;
}
.vb-button {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    border-radius: 5px;
    color: #5c5858;
    font-weight: 400;
    border-color: #7f7979;
    margin: 20px 0px 10px;
}
.vb-text{
    font-size: 30px;
    font-weight: 600;
    font-style: italic;
    border-bottom: 1px solid #020202;
    border-bottom-style: dotted;
       padding-bottom: 15px;
}

.view-broch {
    
    text-align: center;
     position: absolute;
    top:50%;
    transform: translateY(-50%);
}
.view-broch-inner{
 background: #f2f2f2;

    border-radius: 22px;
    padding: 45px 15px;
}
form.contact-us h3 {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    
  }
  
  .form-group {
    width: 100%;
    margin-bottom: 10px;
    
    
  }
  
  .form-group input {
    width: calc(100% - 10px); 
    margin-right: 10px;
    
  }

  #lname {
    width: calc(100% - 0px); 
    margin-right: 0;
  }

  #cit {
    width: calc(100% - 0px); 
    margin-right: 0;
  }
  #pcode {
    width: calc(100% - 0px); 
    margin-right: 0;
  }
  #eadd {
    width: calc(100% - 0px); 
    margin-right: 0;
  }
  .form-group input:last-child {
    margin-right: 0;
  }
  .ToastContainer {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
  }
  .icon-circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid #333;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .icon-circle svg {
    display: inline-block;
    height: 1em;
    overflow: visible;
    vertical-align: -11px;
    border: 2px solid #333;
    border-radius: 50%;
    padding: 5px;
  }
  .svg-inline--fa {
    display: var(--fa-display, inline-block);
    height: 1em ;
    overflow: visible;
    vertical-align: -11px;
    border:  2px solid #333;
    border-radius: 50%;
    padding: 5px;
}

.custom-toast-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-toast {
  background-color: #f4eded; 
  color: #0d0d0d; 
 
}

@media only screen and (max-width: 767px) {
  .top-navi {
      padding: 10px 10px;
  }
  .logo img {
      width: 100%;
  }
  .form-row {
    display: inline;
  }
  .logo-right-st h5 {
      font-size: 18px;
      font-weight: 500;
  }
  .information-lk {
      position: static;
  }
  
  .form-group input {
      width: 100%;
  }
  .outer{
    background:url(../imgs/n1.jpg);
    background-position: 0;
    background-repeat: no-repeat;
    background-size: cover;
   
   }
  .view-broch {
      position: static;
      text-align: center;
      margin-top: 10px;
      transform: translate(0);
  }
  }

  
.loading-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

